form
  .form-row
    input.checkbox(type='checkbox')
    p Продумать дизайн-проект обновленного пространства
  .form-row
    input.checkbox(type='checkbox')
    p Составить смету затрат
  .form-row
    input.checkbox(type='checkbox')
    p Получить консультацию специалистов по перепланировке
  .form-row
    input.checkbox(type='checkbox')
    p Заказать проект перепланировки
    .repairs-tab_desc 
      | Есть ли еда у домашнего питомца,
      span  как трудятся строители в ваше
      |  отсутствие? Персональная система
      a(href="#")  видеонаблюдения 
      |  позволяет следить за домом из любой точки мира в режиме реального времени.
  .form-row
    input.checkbox(type='checkbox')
    p Спроектировать электропроводку в помещении
  .form-row
    input.checkbox(type='checkbox')
    p Придумать систему хранения
  .form-row.new-checkbox
    .plus
    input.text(type='text', placeholder='Добавьте свою задачу')
  
  .planning-block_actions
    button.btn.btn_save Сохранить
    button.btn.btn_print печатать
    button.btn.btn_share поделиться