.container {
  margin: 0 auto;
}

.section-main,
.section-room,
.section-flat-plan,
.section-ideas {
  padding: 0 10px 10px;
  overflow: auto;
}

.section-gpon {
  margin: -90px 0 0;
  height: 90px;
  width: 100%;
  padding-left: 10px;
  background-color: #0082c5;
  z-index: +22;
  
  img {
    float: right;
    margin-top: -90px;
  }
}

.section-gpon_title {
  font-size: 31px;
  line-height: 90px;
  color: white;
  font-weight: 700;
}

.col {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.col-left {
  width: 36%;
}

.col-right {
  float: right;
  width: 56%;
}

.section-tech {
  height: 100vh;
  background-image: url(../assets/tech-bg.jpg);
  background-position-x: center; 
  background-size: 320%;
  background-repeat: no-repeat;
}

.section-tech_gradient {
  height: 100vh;
  padding: 0 10px;
  background: linear-gradient(90deg, #f4f4f4, transparent);
}

@media screen and (min-width: 960px) {
  .container {
    width: 1000px;
  }

  .section {
    padding: 0;
  }

  .section-flat-plan {
    min-height: 100vh;
    padding: 140px 0;
  }

  .section-room {
    min-height: 578px;
  }

  .section-ideas .col-right {
    width: 620px;
  }

  .section-ideas {
    padding-bottom: 60px;
    text-align: right;
  }

  .section-tech {
    min-height: 100vh;
    background-image: url(../assets/tech-bg.jpg);
    background-position-x: center; 
    background-size: cover;
  }

  .section-tech_gradient {
    height: 100%;
  }

  .section-tech_infoblock {
    width: 420px !important;
    border-width: 0 !important;
    float: right;
    border: none;
    margin: 16% -50px 0 0;
    padding: 60px 60px 35px 25px !important;
    transition: all 0.2s;

    h1 {
      font-size: 48px !important;
    }

    h2 {
      margin-top: 15px;
      font-size: 29px !important;
    }

    &:before {
      @include icon(red-brush-tech);
      position: absolute;
      top: -20px;
      left: -19px;
      z-index: -1;
    }
  }

  .section-gpon {
    padding: 0;
    position: relative;
    display: block;
  }

  .section-gpon_title {
    margin-left: -5px;
  }

  .btn-text {
    position: absolute;
    bottom: -108px;
    left: 5px;
    padding: 5px 8px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 1;
    transition: all 0.2s;
    background-color: #e5242c;

    &:hover {
      opacity: 0.8;
    }
  }
}