.container {
  width: 980px;
  margin: 0 auto;
}

.section-flat-plan,
.section-room {
  min-height: 578px;
}

.col {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.col-left {
  width: 380px;
}

.col-right {
  width: 560px;

  &#ideas {
    width: 620px;
  }
}

.section-tech {
  min-height: 100vh;
  background-image: url(/assets/tech-bg.jpg);
  background-position-x: center; 
  background-size: cover;
}

.section-tech_infoblock {
  width: 270px !important;
  border-width: 0 !important;
  float: right;
  margin: 32% 33px 0 0;
  width: 278px !important;
  padding: 35px 20px 35px !important;

  &:before {
    @include icon(red-brush-tech);
    position: absolute;
    top: -20px;
    left: -19px;
    z-index: -1;
  }
}

.section-tech_gradient {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #f4f4f4, transparent);
}

.section-gpon {
  position: relative;
  display: block;
  margin-top: -90px;
  height: 90px;
  width: 100%;
  background-color: #0082c5;

  a {
    float: right;
    margin-top: -90px;
  }
}

.section-gpon_title {
  margin-left: -5px;
  font-size: 31px;
  line-height: 90px;
  color: white;
  font-weight: 700;
}