.header {
  height: 76px;
  vertical-align: middle;

  li {
    display: inline-block;
    font-size: 16px;
    line-height: 76px;

    a {
      margin-right: 34px;
      color: #535756;
      transition: opacity 0.2s;
      font-size: 15px;
      letter-spacing: 1.1px;

      &:hover {
        opacity: 0.6;
      }
    }

    &:nth-child(2) a {
      margin-right: 28px;
    }

    &:nth-child(4) a {
      margin-right: 26px;
    }

    &:last-child {
      float: right;
    }
  }    
}
