.repairs-menu {
  display: inline-block;
  margin-bottom: 33px;
  width: 570px;

  li {
    display: inline-block;
    box-sizing: content-box;
    margin: 0 10px 5px 0;
    padding: 4px 6px;
    border: 1px solid #f4f4f4;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 200;

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      border: 1px solid #e5242c;
    }
  }
}