.repairs-menu {
  display: inline-block;
  margin-bottom: 33px;
  max-width: 370px;

  li {
    display: inline-block;
    box-sizing: content-box;
    margin: 0 10px 5px 0;
    padding: 4px 6px;
    border: 1px solid #f4f4f4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: #e5242c;
    }

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      border: 1px solid #e5242c;

      &:hover {
        cursor: default;
        color: black;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .repairs-menu {
    max-width: 570px;
  }
}