.room-menu {
  position: relative;
  margin-top: 10px;
  height: 35px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;


  li {
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 15px 15px;
    z-index: +2;
    cursor: pointer;
    transition: 0.2s all;
    
    &.is-active {
      border-bottom: 2px solid #e5242c;
    }
  }
}

@media screen and (max-width: 959px) {
  .room-menu  {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .room-menu {
    border-bottom: none;

    &:after {
      @include icon(grey-line);
      position: absolute;
      top: 31px;
      left: 58px;
      z-index: -1;
    }
  }
}