.section-main_down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -52px;
  width: 104px;
  font-size: 13px;
  text-align: center;
  z-index: +1;

  &:hover:before {
    top: 28px;
  }

  &:before {
    position: absolute;
    display: block;
    top: 23px;
    left: 46px;
    width: 10px;
    height: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(45deg);
    content: "";
    transition: all 0.5s;
  }
}

@media screen and (max-width: 959px) {
  .section-main {
    background-image: url("../assets/grey-brush-main2_small.png"), linear-gradient(90deg, #c6e2e9, #edf4ec);
    background-position: center 110%;
    background-repeat: no-repeat;
    overflow: hidden;

    &:after {
      @include icon(grey-brush-main_small);
      position: absolute;
      
      top: 130px;
      left: -75px;
    }
  }

  .section-main_gray,
  .section-main_valik {
    display: none;
  }

  .sectiom-main_sponsor {
    position: relative;
    display: block;
    margin: 0 auto 30px;
    z-index: +3;

    img {
      display: block;
      margin: 0 auto;
    }

    &:before {
      position: absolute;
      display: block;
      top: -15px;
      left: 12px;
      content: "ПРИ ПОДДЕРЖКЕ";
      font-size: 10px;
      color: #616262;
    }

    &:after {
      @include icon(valik_small);
      position: absolute;
      top: -125px;
      right: -19px;
    }
  }

  .section-main_down {
    display: none;
  }

  .section_infoblock {
    position: relative;
    display: block;
    width: 262px;
    padding: 33px 16px 68px 16px;
    color: white;
    z-index: +1;

    h1 {
      font-size: 24px;
      letter-spacing: 1px;
      text-transform: uppercase;
      line-height: 40px;
      font-weight: 700;
    }

    h2 {
      font-size: 20px;
      font-weight: 200;
    }

    > * {
      z-index: +3;
    }
  }

  .section-main_infoblock {
    margin: 50px auto 105px;
    height: 262px;
    border: 3px solid white;

    &:before {
      @include icon(red-brush-main_small);
      position: absolute;
      top: -20px;
      left: -28px;
      z-index: -1;
    }
  }

  .section-tech_infoblock {
    &:before {
      @include icon(red-brush-tech_small);
      position: absolute;
      top: -20px;
      left: -28px;
      z-index: -1;
    }
  }
}

@media screen and (min-width: 960px) {
  .section-main {
    min-height: 100vh;
    padding: 100px 0;
    align-items: center;
    display: flex;
    background-image: url("../assets/grey-brush-main2.png"), linear-gradient(90deg, #c6e2e9, #edf4ec);
    background-position: center bottom;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .sectiom-main_sponsor {
    display: none;
  }

  .section-main_gray,
  .section-main_valik {
    position: absolute;
    transition: all 0.2s;
  }

  .section-main_gray {
    width: 100%;
    height: 100%;
    left: 0;
    background-image: url('../assets/grey-brush-main.png');
    background-repeat: no-repeat;
    background-position-x: 100%;
  }

  .section-main_valik {
    width: 449px;
    height: 100%;
    background-image: url('../assets/valik.png');
    left: 60%;
    background-repeat: no-repeat;
    background-position-y: 300px; 
  }

  .section_infoblock {
    position: relative;
    width: 440px;
    padding: 45px 25px 45px 40px;
    border: 3px solid white;
    color: white;
    z-index: +1;

    h1 {
      font-size: 34px;
      letter-spacing: 1px;
      text-transform: uppercase;
      line-height: 40px;
      font-weight: 700;
    }

    h2 {
      font-size: 20px;
      font-weight: 200;
    }

    > * {
      z-index: +3;
    }
  }

  .section-main_infoblock {
    padding: 40px 0 45px 50px;

    &:before {
      @include icon(red-brush-main);
      position: absolute;
      top: -62px;
      left: -47px;
      z-index: -1;
    }
  }

  .section_pretitle { 
    font-size: 18px;
    text-transform: uppercase;
    color: #f39ba0;
  }

  .section_desc {
    font-size: 19px;
    line-height: 24px;
  }

  .section-main_down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -52px;
    width: 104px;
    font-size: 13px;
    text-align: center;
    z-index: +1;

    &:hover:before {
      top: 28px;
    }

    &:before {
      position: absolute;
      display: block;
      top: 23px;
      left: 46px;
      width: 10px;
      height: 10px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      transform: rotate(45deg);
      content: "";
      transition: all 0.5s;
    }
  }
}