.section-list {
  display: inline-block;
  margin-left: 50px;
  width: 272px;

  li {
    position: relative;
    margin-bottom: 30px;

    .title {
      font-size: 17px;
      font-weight: 700;
    }

    a.title {
      transition: color 0.2s;

      &:hover {
        color: #e5242c;
      }
    }

    .desc {
      margin: 10px 0 0;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 20px;
      color: #333333;
    }

    &:before {
      display: block;
      position: absolute;
      top: -2px;
      left: -50px;
      font-size: 18px;
      font-weight: 700;
    }

    &:first-child:before {
      content: "01";
    }

    &:nth-child(2):before {
      content: "02";
    }

    &:nth-child(3):before {
      content: "03";
    }

    &:last-child:before {
      content: "04";
    }

    &.is-current {
      &:before {
        color: #e5242c;
      }

      &:after {
        display: block;
        position: absolute;
        content: "—";
        top: -4px;
        left: -26px;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.section-tech .section-list {
  margin-top: 40%;
}

.section-flat-plan .section-list {
  margin-top: 125px;
}

.section-room .section-list {
  margin-top: 60px;
}

.section-ideas .section-list {
  margin-top: 100px;
}