.section-list {
  display: inline-block;
  margin-left: 50px;
  width: 80%;
  transition: all 0.2s;

  li {
    position: relative;
    margin-bottom: 20px;
    min-height: 21px;

    .title {
      font-size: 15px;
      font-weight: 700;
    }

    a.title {
      transition: color 0.2s;

      &:hover {
        color: #e5242c;
      }
    }

    .desc {
      margin: 10px 0 0;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 20px;
      color: #333333;
      transition: all 0.3s;
    }

    &:before {
      display: block;
      position: absolute;
      top: -2px;
      left: -50px;
      font-size: 17px;
      font-weight: 700;
    }

    &:first-child:before {
      content: "01";
    }

    &:nth-child(2):before {
      content: "02";
    }

    &:nth-child(3):before {
      content: "03";
    }

    &:last-child:before {
      content: "04";
    }

    &.is-current {

      &:hover a {
        color: black;
      }

      &:before {
        color: #e5242c;
      }

      &:after {
        display: block;
        position: absolute;
        content: "—";
        top: 0;
        left: -26px;
        font-size: 17px;
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .section-list {
    margin: 50px 0 30px 50px;

    li {
      display: none;

      .title {
        position: relative;
        font-size: 16px;

        &:before {
          display: block;
          position: absolute;
          content: "/04";
          color: grey;
          font-size: 10px;
          left: -48px;
          top: 19px;
        }
      }

      .desc {
        font-size: 14px;
        line-height: 20px;
      }

      &:before {
        font-size: 18px;
      }

      &.is-current {
        display: block;

        &:after {
          top: -3px;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .section-list {
    margin-left: 50px;
    width: 272px;

    li {
      margin-bottom: 30px;

      .title {
        font-size: 19px;
      }

      .desc {
        font-size: 15px;
        line-height: 20px;
      }

      &:before {
        font-size: 20px;
      }
    }
  }

  .section-tech .section-list {
    margin-top: 40%;
  }

  .section-flat-plan .section-list {
    margin-top: 125px;
    width: 272px;
  }

  .section-room .section-list {
    margin-top: 60px;
  }

  .section-ideas .section-list {
    margin-top: 150px;
  }
}