.section-room {
  vertical-align: top;
}

img.section-room_desc {
  margin: 14px 0 0 100px;
}

.section-room_desc-text {
  display: inline-block;
  margin: 51px 0 65px;
  width: 490px;
  font-size: 15px;
  line-height: 20px;
}