$sprite: (
	btn_print: (
		offset-x: -1245px,
		offset-y: -284px,
		width: 12px,
		height: 12px,
	),
	btn_save: (
		offset-x: -1305px,
		offset-y: -246px,
		width: 14px,
		height: 14px,
	),
	btn_share: (
		offset-x: -1255px,
		offset-y: -246px,
		width: 22px,
		height: 23px,
	),
	check: (
		offset-x: -1243px,
		offset-y: -306px,
		width: 12px,
		height: 9px,
	),
	favicon: (
		offset-x: -1283px,
		offset-y: -246px,
		width: 16px,
		height: 16px,
	),
	grey-brush-main_small: (
		offset-x: 0px,
		offset-y: 0px,
		width: 484px,
		height: 490px,
	),
	grey-line: (
		offset-x: 0px,
		offset-y: -808px,
		width: 864px,
		height: 3px,
	),
	plus: (
		offset-x: -1325px,
		offset-y: -246px,
		width: 9px,
		height: 9px,
	),
	red-brush-main: (
		offset-x: -490px,
		offset-y: 0px,
		width: 509px,
		height: 365px,
	),
	red-brush-main_small: (
		offset-x: -426px,
		offset-y: -496px,
		width: 298px,
		height: 297px,
	),
	red-brush-tech: (
		offset-x: 0px,
		offset-y: -496px,
		width: 420px,
		height: 306px,
	),
	red-brush-tech_small: (
		offset-x: -1005px,
		offset-y: 0px,
		width: 329px,
		height: 240px,
	),
	share-btn-fb: (
		offset-x: -1229px,
		offset-y: -306px,
		width: 8px,
		height: 16px,
	),
	share-btn-ok: (
		offset-x: -1229px,
		offset-y: -284px,
		width: 10px,
		height: 16px,
	),
	share-btn-ok2x: (
		offset-x: -1229px,
		offset-y: -246px,
		width: 20px,
		height: 32px,
	),
	share-btn-vk: (
		offset-x: -1263px,
		offset-y: -284px,
		width: 15px,
		height: 8px,
	),
	valik_small: (
		offset-x: -1005px,
		offset-y: -246px,
		width: 218px,
		height: 142px,
	),
);

$spritesheet-width: 1334px;
$spritesheet-height: 811px;
$spritesheet-image: "sprite.png";