$sprite: (
	btn_print: (
		offset-x: -1397px,
		offset-y: -1074px,
		width: 12px,
		height: 12px,
	),
	btn_save: (
		offset-x: -1377px,
		offset-y: -1074px,
		width: 14px,
		height: 14px,
	),
	btn_share: (
		offset-x: -1327px,
		offset-y: -1074px,
		width: 22px,
		height: 23px,
	),
	check: (
		offset-x: -1331px,
		offset-y: -1112px,
		width: 12px,
		height: 9px,
	),
	favicon: (
		offset-x: -1355px,
		offset-y: -1074px,
		width: 16px,
		height: 16px,
	),
	grey-brush-main: (
		offset-x: 0px,
		offset-y: 0px,
		width: 1624px,
		height: 1068px,
	),
	grey-line: (
		offset-x: -515px,
		offset-y: -1371px,
		width: 864px,
		height: 3px,
	),
	plus: (
		offset-x: -1349px,
		offset-y: -1112px,
		width: 9px,
		height: 9px,
	),
	red-brush-main: (
		offset-x: 0px,
		offset-y: -1074px,
		width: 509px,
		height: 365px,
	),
	red-brush-tech: (
		offset-x: -970px,
		offset-y: -1074px,
		width: 325px,
		height: 238px,
	),
	share-btn-fb: (
		offset-x: -1317px,
		offset-y: -1112px,
		width: 8px,
		height: 16px,
	),
	share-btn-ok: (
		offset-x: -1301px,
		offset-y: -1112px,
		width: 10px,
		height: 16px,
	),
	share-btn-ok2x: (
		offset-x: -1301px,
		offset-y: -1074px,
		width: 20px,
		height: 32px,
	),
	share-btn-vk: (
		offset-x: -1415px,
		offset-y: -1074px,
		width: 15px,
		height: 8px,
	),
	valik: (
		offset-x: -515px,
		offset-y: -1074px,
		width: 449px,
		height: 291px,
	),
);

$spritesheet-width: 1624px;
$spritesheet-height: 1439px;
$spritesheet-image: "sprite.png";